g{
 stroke-dasharray: 6000;
 stroke-dashoffset: 6000;
 animation: drawing-g infinite;
 animation-duration: 5s;
// animation-timing-function: linear, ease-in;
}
@keyframes drawing-g{
    0% {
        stroke-dashoffset: 0;
        }
    }
